@use "header";
@use "button";
@use "grille-jeu";

// Page en general
body {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #202020;

  width: 75%;

  margin-left: 10%;
}



